</layout>
                          
                          
                         <!--table class="w580" border="0" cellpadding="0" cellspacing="0" width="615">
                              <tbody><tr>
                                <td class="w580" width="615" align="center">
                                  <b class="article-title" >Conheça nossos Pacotes de Plantões</b>
                                </td></tr>
                              </tbody>	
                         </table>
                          
                          
                         
                          
                          
                          <layout label="Image gallery" >
                            <table class="w580" border="0" cellpadding="0" cellspacing="0" width="600">
                              <tbody><tr>
                                <td class="w180" valign="top" width="180">
                                  <table width="180" border="0" cellpadding="0" cellspacing="0" class="w180">
                                    <tbody><tr>
                                      <td class="w180" width="180"><img src="images/default-package.jpg" width="180" border="0" class="w180" editable="true" label="Image"></td>
                                      </tr>
                                      <tr><td class="w180" height="10" width="180"></td></tr>
                                      <tr>
                                        <td class="w180" width="180">
                                          <div class="article-content" align="left">
                                            <multiline label="Description">Enter your description</multiline>
                                            </div>
                                          </td>
                                        </tr>
                                      <tr><td class="w180" height="10" width="180"></td></tr>
                                    </tbody></table>
                                  </td>
                                <td width="20"></td>
                                <td class="w180" valign="top" width="180">
                                  <table class="w180" border="0" cellpadding="0" cellspacing="0" width="180">
                                    <tbody><tr>
                                      <td class="w180" width="180"><img src="images/default-package.jpg" width="180" border="0" class="w180" editable="true" label="Image"></td>
                                      </tr>
                                      <tr><td class="w180" height="10" width="180"></td></tr>
                                      <tr>
                                        <td class="w180" width="180">
                                          <div class="article-content" align="left">
                                            <multiline label="Description">Enter your description</multiline>
                                            </div>
                                          </td>
                                        </tr>
                                      <tr><td class="w180" height="10" width="180"></td></tr>
                                    </tbody></table>
                                  </td>
                                <td width="20"></td>
                                <td class="w180" valign="top" width="180">
                                  <table class="w180" border="0" cellpadding="0" cellspacing="0" width="180">
                                    <tbody><tr>
                                      <td class="w180" width="180"><img src="images/default-package.jpg" width="180" border="0" class="w180" editable="true" label="Image"></td>
                                      </tr>
                                      <tr><td class="w180" height="10" width="180"></td></tr>
                                      <tr>
                                        <td class="w180" width="180">
                                          <div class="article-content" align="left">
                                            <multiline label="Description">Enter your description</multiline>
                                            </div>
                                          </td>
                                        </tr>
                                      <tr><td class="w180" height="10" width="180"></td></tr>
                                    </tbody></table>
                                  </td>
                                </tr>
                            </tbody></table>
                          </layout>
                        </repeater-->
                      </td>
                      <td class="w30" width="15"></td>
                      </tr>
                  </tbody></table>
</td></tr>
                <tr><td class="w640" bgcolor="#ffffff" height="15" width="640"></td></tr>
                
                <tr>
                <td class="w640" width="640">
    <table id="footer" class="w640" bgcolor="#336535" border="0" cellpadding="0" cellspacing="0" width="640">
        <tbody><tr><td class="w30" width="27"></td><td class="w580 h0" height="2" width="325"></td><td class="w0" width="63"></td><td class="w0" width="206"></td><td class="w30" width="19"></td></tr>
        <tr>
            <td width="27" height="72" class="w30"></td>
            <td class="w580" valign="top" width="325">
            
            </td>
            <td class="hide w0" width="63"></td>
            <td class="hide w0" valign="top" width="206">
            
            <img src="http://www.plantaonet.com/images/footer_logo.png" width="206" border="0" class="w180" editable="true" label="Image">
            
            </td>
            <td class="w30" width="19"></td>
        </tr>
        
    </tbody></table>
</td>
                </tr>
                <tr><td class="w640" height="60" width="640"></td></tr>
            </tbody></table>
        </td>
	</tr>
</tbody></table></body></html>
