
<h1>Plantões</h1>
<div class="well">
        <p>Aqui você vai encontrar todos os plantões que estão disponiveis, plantões que foram cedidos por outros medicos, assim facilitando a manutenção do serviço nos hospitais e ajudando a evitar as faltas nos plantões e emergencias nos hospitais no Brasil.</p>
    </div>
    
    <br clear="all" />


