<% @pagetitle = "Novo Plantão" %>

<div class="container">
	    <div class="row-fluid">
	    	<div class="span2"></div>
		    <div class="span8 destaque">

					<%= render 'form' %>

			</div>	
			<div class="span2"></div>
		</div>
	</div>	