<aside id="sidebar" class="column">

	<h3>Produtos</h3>
	<ul class="">
		<li class="icn_categories"><a href="/admin/categories">Categorias</a></li>
		<li class="icn_categories"><a href="/admin/products">Produtos</a></li>
	</ul>
	
	<h3>Leilões</h3>
	<ul class="">
		<li class="icn_categories"><a href="/admin/campaigns">Campanhas</a></li>
		<li class="icn_categories"><a href="/admin/bids">Lances</a></li>		
	</ul>
		
	<h3>Merrecas</h3>
	<ul class="">
 		<li class="icn_categories"><a href="/admin/packages">Pacotes de Merrecas</a></li>
  </ul>

	<h3>Vendas/Pedidos</h3>
	<ul class="">
		<li class="icn_categories"><a href="/admin/sales">Vendas/Arremates</a></li>
		<li class="icn_categories"><a href="/admin/orders">Compra de Pacotes</a></li>
		<li class="icn_categories"><a href="/admin/payments">Formas de Pagamento</a></li>
	</ul>
	
	<h3>Clientes</h3>
	<ul class="">
		<li class="icn_categories"><a href="/admin/listUsers">Lista</a></li>
	</ul>


	<h3>Usuários</h3>
		
	<h3>Relatórios</h3>
	
	<footer>
		<hr />
		<p><strong>Copyright &copy; LanceMax</strong></p>

	</footer>
</aside><!-- end of sidebar -->
