<div class="navbar navbar-inner navbar-fixed-top">	
		
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<!--a class="brand" href="/">Lancemax</a-->

				<div class="nav-collapse">

					<ul class="nav">
						<li><a href="">ADMINISTRADOR</a></li>
						<li ><a href="/admin"><i class="icon-white icon-home"></i>Inicio</a></li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="icon-white icon-time"></i>Plantões
							</a>
							<ul class="dropdown-menu">
								<li><a href="/admin/jobs"><i class="icon-white icon-plus-sign"></i>Criar</a></li>
								<li><a href="/admin/jobs"><i class="icon-white icon-plus-sign"></i>Editar</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="icon-white icon-plus-sign"></i>Hospitais
							</a>
							<ul class="dropdown-menu">
								<li><a href="/admin/hospitals/new"><i class="icon-white icon-plus-sign"></i>Criar</a></li>
								<li><a href="/admin/hospitals"><i class="icon-white icon-plus-sign"></i>Editar</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="icon-white icon-gift"></i>Pacotes
							</a>
							<ul class="dropdown-menu">
								<li><a href="/admin/packages/new"><i class="icon-white icon-plus-sign"></i>Criar</a></li>
								<li><a href="/admin/packages"><i class="icon-white icon-plus-sign"></i>Editar</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="icon-white icon-shopping-cart"></i>Pedidos
							</a>
							<ul class="dropdown-menu">
								<li><a href="/admin/orders"><i class="icon-white icon-plus-sign"></i>Ver</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="icon-white icon-tasks"></i>Usuários
							</a>
							<ul class="dropdown-menu">
								<li><a href="/admin/users"><i class="icon-white icon-plus-sign"></i>Editar</a></li>
							</ul>
						</li>

						<li><a href="/customer"><i class="icon-white icon-home"></i>Minha Conta</a></li>
						
					</ul>
					




							<div class="btn-group pull-right">
	
								<a class="btn btn-primary" href="#"><i class="icon-white icon-user"></i>
									<b style="color:#fff">
			       					<%= current_user.name %>
			       				</b>
								</a>
								<a class="btn btn-primary dropdown-toggle" href="#" data-toggle="dropdown"> 
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									
									<li>
										<a href="#">
											<b>Email:</b> <div id="user_numbids_menu" class="btn"><%= current_user.email %></div>
										</a>
									</li>

									<li>
										<a href="#">
											<i class="icon-shopping-cart"></i>
											Meus Plantões
										</a>
									</li>
									<li>
										<a href="/users/edit">
											<i class="icon-th-list"></i>
											Meus Dados
										</a>
									</li>
									<li>
										<a href="#">
											<i class="icon-star"></i>
											Créditos
										</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="<%= destroy_user_session_path %>"  data-method="delete">
											<i class="icon-remove-sign"></i>
											Sair
											<% link_to("<i class=icon-remove>SAIR</i>", destroy_user_session_path+"#delete", :method => :delete, :class => "remove",:title => 'Sair') %>	
										</a>
									</li>
								</ul>

							</div>


				</div><!--/.nav-collapse -->
			</div>
		
	</div>
</div>