<div class="content">
	<h2>Sistema de Plantões Médicos</h2>
	<div class="well">
		<p>Plantão Net é um sistema especializado para ajudar você (Médico) a encontrar Substitutos para um plantão, ou você que está a procura de trabalhar em algum plantão. Design facilitado para que você veja todos os plantões da sua area de atuação, sua cidade e dia da semana...</p>
	</div>
	
	<br clear="all" />
	
	
</div>