<div class="content">
	
	<div class="well hero">
		<h1>Sistema de Plantões Médicos</h1>

	</div>
  <div class="container">
	    <div class="row-fluid">
		    <div class="span10 destaque">
				<p>Plantão Net é um sistema especializado para ajudar você (Médico) a encontrar Substitutos para um plantão, ou você que está a procura de trabalhar em algum plantão. Design facilitado para que você </p>    
				
			</div>
			 <div class="span2">
			 	<% if !user_signed_in? %>
		     		<%= link_to('Cadastre-se', new_user_registration_path, :class => 'btn huge btn-success')  %>
		     	<% end %>
		    </div>	
		     <div class="span12 destaque">
		    <%=image_tag "doctors.jpg" , :class => 'medicos' %> 
		      </div>
	  	</div> 
	 <br clear="all" />
	
	</div> 
	
	
</div>