<% @pagetitle = 'Novo Hospital' %>

  <div class="container">
	    <div class="row-fluid">
	    	<div class="span2"></div>
		    <div class="span8 destaque">

			<%= render 'form' %>

			<%= link_to 'Voltar', hospitals_path, :class => "btn btn-warning" %>
			</div>
			<div class="span2"></div>	
		</div>
	</div>	
