
/*------------------------------------------------------------------

[Green Theme]

	Project:		Bootstrap Landing Template
	Version:		1.0
	Last change:	04/26/2012
	Assigned to:	Rod Howard (rh)


-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[Navbar]
*/

.navbar .nav > li.active > a,
.navbar .nav > li.active > a:hover {
	color: #81994D;
}

.navbar .nav > li > a {
	color: #444;
	padding:25px 5px;
    text-shadow: 0px 0px 0px rgba(0,0,0,.5);
}

.navbar .nav > li > a:hover {
	color: #336535;
}

.navbar {
	border-bottom-color: #ccc;
	background: #ccc;
}

.navbar .navbar-inner {
	//background: #333;	
	
	border-bottom: 1px solid #111;	
}

.navbar .brand {
	
	/* 	
	width: 180px;
	height: 34px;
	
	background: url(../img/logo.png) no-repeat 0 0; 
	*/
}




/*------------------------------------------------------------------
[Content]
*/


#content .inner {	
	
	background: #fff;
}

#content .container {
	border-width: 4px;
	border-color: #444;
}



/*------------------------------------------------------------------
[Landing]
*/

#landing .inner {
	background: #81994D url(/assets/header-bg.png) repeat 0 0;
	
	text-shadow: 1px 1px 2px rgba(0,0,0,.4);
}




/*------------------------------------------------------------------
[Screenshots / #screenshots]
*/	

#screenshots {	
	background: #E8E8E8;
	
	border-top: 1px solid #CCC;
}

#screenshots .inner {
	border-top: 1px solid #FFF;
}




/*------------------------------------------------------------------
[Subheader]
*/

#subheader {
	color: #EEE;
	
	background: #444;
	
	border-color: #556828;
}

#subheader .inner {
	background: #81994D url(/assets/header-bg.png) repeat 0 0;
	
}



/*------------------------------------------------------------------
[Extra]
*/

#extra {	
	border-top: 1px solid #000;
}

#extra .inner {	
	color: #fff;
	
	background-color: #222;
	
	border-top: 1px solid #555;
}



/*------------------------------------------------------------------
[Footer]
*/

#footer {
	border-top: 1px solid #000;
}

#footer .inner {		
	background: #111;
	
	border-top: 1px solid #222;	
}

.footer-links a {
	color: #777;
}



/*------------------------------------------------------------------
[Miscellaneous]
*/

.circle-icon {	
	
	background: #393939;
}

.circle-icon div {	
	color: #81994D;	
}

.slash {
	color: #677E30;
}

.sidebar {
	
	background: #EEE;
}



.nav-list > li.active > a,
.nav-list > li.active > a:hover {		
	color: #FFF;
	
	background: #81994D;
}

.nav-collapse .btn-group{
	margin: 15px 0 0 0;
}

.nav-collapse .pull-right{
	margin: 15px 0 0 0;
}


/*------------------------------------------------------------------
[modificações]
*/

.well-signin {
    background-color: #DDFFBB;
    border: 1px solid #7B973B;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}

.navbar {
    background-color: #ccc;
}

.alert {
  margin-bottom: 5px;
}

.table-buttons{
  vertical-align: middle;
}


.txt-centralizado{
  text-align:center;
}

.txt-pequeno{
  font-size: 14px;
}

.white{
	color: #fff;
}
form{
	margin: 0;
}
.price{
	padding: 4x 10px;
	font-size:18px
}
.buy{
	padding: 5px 10px;
	font-size:18px
}
.fleft{
	float:left;
}
.bordazero{
  border:0;
}

.credits{
  //padding: 4x 10px;
  font-size:16px
}

body { 
  padding-top: 50px;
}

.icon-white, .nav > .active > a > [class^="icon-"], .nav > .active > a > [class*=" icon-"], .dropdown-menu > li > a:hover > [class^="icon-"], .dropdown-menu > li > a:hover > [class*=" icon-"], .dropdown-menu > .active > a > [class^="icon-"], .dropdown-menu > .active > a > [class*=" icon-"] {
    background-image: none;
    
}
.dropdown-minhaconta{
  margin: -15px 0 0 0;
}

//botões de dias da semana
.btn-domingo , .btn-d0 {
  background-color: hsl(336, 100%, 30%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0065", endColorstr="#99003d");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ff0065), to(#99003d));
  background-image: -moz-linear-gradient(top, #ff0065, #99003d);
  background-image: -ms-linear-gradient(top, #ff0065, #99003d);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff0065), color-stop(100%, #99003d));
  background-image: -webkit-linear-gradient(top, #ff0065, #99003d);
  background-image: -o-linear-gradient(top, #ff0065, #99003d);
  background-image: linear-gradient(#ff0065, #99003d);
  border-color: #99003d #99003d hsl(336, 100%, 25%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}

.btn-segunda ,  .btn-d1 {
  background-color: hsl(87, 79%, 43%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a8eb56", endColorstr="#76c417");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#a8eb56), to(#76c417));
  background-image: -moz-linear-gradient(top, #a8eb56, #76c417);
  background-image: -ms-linear-gradient(top, #a8eb56, #76c417);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a8eb56), color-stop(100%, #76c417));
  background-image: -webkit-linear-gradient(top, #a8eb56, #76c417);
  background-image: -o-linear-gradient(top, #a8eb56, #76c417);
  background-image: linear-gradient(#a8eb56, #76c417);
  border-color: #76c417 #76c417 hsl(87, 79%, 38%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
}


.btn-terca ,  .btn-d2 {
  background-color: hsl(214, 37%, 28%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7a99c1", endColorstr="#2c4361");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#7a99c1), to(#2c4361));
  background-image: -moz-linear-gradient(top, #7a99c1, #2c4361);
  background-image: -ms-linear-gradient(top, #7a99c1, #2c4361);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7a99c1), color-stop(100%, #2c4361));
  background-image: -webkit-linear-gradient(top, #7a99c1, #2c4361);
  background-image: -o-linear-gradient(top, #7a99c1, #2c4361);
  background-image: linear-gradient(#7a99c1, #2c4361);
  border-color: #2c4361 #2c4361 hsl(214, 37%, 19.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.56);
  -webkit-font-smoothing: antialiased;
}


.btn-quarta ,  .btn-d3 {
  background-color: hsl(110, 56%, 16%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#398f28", endColorstr="#193f11");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#398f28), to(#193f11));
  background-image: -moz-linear-gradient(top, #398f28, #193f11);
  background-image: -ms-linear-gradient(top, #398f28, #193f11);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #398f28), color-stop(100%, #193f11));
  background-image: -webkit-linear-gradient(top, #398f28, #193f11);
  background-image: -o-linear-gradient(top, #398f28, #193f11);
  background-image: linear-gradient(#398f28, #193f11);
  border-color: #193f11 #193f11 hsl(110, 56%, 11%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}

.btn-quinta ,  .btn-d4 {
  background-color: hsl(70, 11%, 23%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7b7f66", endColorstr="#3e4134");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#7b7f66), to(#3e4134));
  background-image: -moz-linear-gradient(top, #7b7f66, #3e4134);
  background-image: -ms-linear-gradient(top, #7b7f66, #3e4134);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7b7f66), color-stop(100%, #3e4134));
  background-image: -webkit-linear-gradient(top, #7b7f66, #3e4134);
  background-image: -o-linear-gradient(top, #7b7f66, #3e4134);
  background-image: linear-gradient(#7b7f66, #3e4134);
  border-color: #3e4134 #3e4134 hsl(70, 11%, 17.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.36);
  -webkit-font-smoothing: antialiased;
}


.btn-sexta ,  .btn-d5 {
  background-color: hsl(0, 69%, 22%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b42121", endColorstr="#5e1111");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#b42121), to(#5e1111));
  background-image: -moz-linear-gradient(top, #b42121, #5e1111);
  background-image: -ms-linear-gradient(top, #b42121, #5e1111);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b42121), color-stop(100%, #5e1111));
  background-image: -webkit-linear-gradient(top, #b42121, #5e1111);
  background-image: -o-linear-gradient(top, #b42121, #5e1111);
  background-image: linear-gradient(#b42121, #5e1111);
  border-color: #5e1111 #5e1111 hsl(0, 69%, 17%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}


.btn-sabado ,  .btn-d6 {
  background-color: hsl(312, 80%, 43%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e727c0", endColorstr="#c515a2");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e727c0), to(#c515a2));
  background-image: -moz-linear-gradient(top, #e727c0, #c515a2);
  background-image: -ms-linear-gradient(top, #e727c0, #c515a2);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e727c0), color-stop(100%, #c515a2));
  background-image: -webkit-linear-gradient(top, #e727c0, #c515a2);
  background-image: -o-linear-gradient(top, #e727c0, #c515a2);
  background-image: linear-gradient(#e727c0, #c515a2);
  border-color: #c515a2 #c515a2 hsl(312, 80%, 40.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
  -webkit-font-smoothing: antialiased;
}


.btn-kilo {
  background-color: hsl(0, 0%, 79%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#134134134", endColorstr="#c9c9c9");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#134134134), to(#c9c9c9));
  background-image: -moz-linear-gradient(top, #134134134, #c9c9c9);
  background-image: -ms-linear-gradient(top, #134134134, #c9c9c9);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #134134134), color-stop(100%, #c9c9c9));
  background-image: -webkit-linear-gradient(top, #134134134, #c9c9c9);
  background-image: -o-linear-gradient(top, #134134134, #c9c9c9);
  background-image: linear-gradient(#134134134, #c9c9c9);
  border-color: #c9c9c9 #c9c9c9 hsl(0, 0%, 68.5%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.69);
  -webkit-font-smoothing: antialiased;
  opacity:0.45;
  -moz-opacity: 0.45;
  filter: alpha(opacity=45);
}

//Botões de Turnos
// MANHÃ
.btn-M { background-color: hsl(86, 79%, 44%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#daf6b5", endColorstr="#7cc817"); background-image: -khtml-gradient(linear, left top, left bottom, from(#daf6b5), to(#7cc817)); background-image: -moz-linear-gradient(top, #daf6b5, #7cc817); background-image: -ms-linear-gradient(top, #daf6b5, #7cc817); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #daf6b5), color-stop(100%, #7cc817)); background-image: -webkit-linear-gradient(top, #daf6b5, #7cc817); background-image: -o-linear-gradient(top, #daf6b5, #7cc817); background-image: linear-gradient(#daf6b5, #7cc817); border-color: #7cc817 #7cc817 hsl(86, 79%, 34%); color: #333 !important; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.66); -webkit-font-smoothing: antialiased; }

//TARDE
.btn-T { background-color: hsl(60, 96%, 45%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcfc6e", endColorstr="#e0e004"); background-image: -khtml-gradient(linear, left top, left bottom, from(#fcfc6e), to(#e0e004)); background-image: -moz-linear-gradient(top, #fcfc6e, #e0e004); background-image: -ms-linear-gradient(top, #fcfc6e, #e0e004); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfc6e), color-stop(100%, #e0e004)); background-image: -webkit-linear-gradient(top, #fcfc6e, #e0e004); background-image: -o-linear-gradient(top, #fcfc6e, #e0e004); background-image: linear-gradient(#fcfc6e, #e0e004); border-color: #e0e004 #e0e004 hsl(60, 96%, 38.5%); color: #333 !important; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.42); -webkit-font-smoothing: antialiased; }

// MANHÃ E TARDE
.btn-MT { background-color: hsl(148, 96%, 45%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6efcb0", endColorstr="#04e06b"); background-image: -khtml-gradient(linear, left top, left bottom, from(#6efcb0), to(#04e06b)); background-image: -moz-linear-gradient(top, #6efcb0, #04e06b); background-image: -ms-linear-gradient(top, #6efcb0, #04e06b); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6efcb0), color-stop(100%, #04e06b)); background-image: -webkit-linear-gradient(top, #6efcb0, #04e06b); background-image: -o-linear-gradient(top, #6efcb0, #04e06b); background-image: linear-gradient(#6efcb0, #04e06b); border-color: #04e06b #04e06b hsl(148, 96%, 38.5%); color: #333 !important; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.42); -webkit-font-smoothing: antialiased; }

//NOITE
.btn-N { background-color: hsl(270, 81%, 23%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a054ed", endColorstr="#3a0b6a"); background-image: -khtml-gradient(linear, left top, left bottom, from(#a054ed), to(#3a0b6a)); background-image: -moz-linear-gradient(top, #a054ed, #3a0b6a); background-image: -ms-linear-gradient(top, #a054ed, #3a0b6a); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a054ed), color-stop(100%, #3a0b6a)); background-image: -webkit-linear-gradient(top, #a054ed, #3a0b6a); background-image: -o-linear-gradient(top, #a054ed, #3a0b6a); background-image: linear-gradient(#a054ed, #3a0b6a); border-color: #3a0b6a #3a0b6a hsl(270, 81%, 13%); color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.66); -webkit-font-smoothing: antialiased; }



.apple_pagination {
  	background: #f1f1f1;
  	border: 1px solid #e5e5e5;
  	text-align: center;
  	padding: 1em;
  	cursor: default; 
}
.apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; 
}
.apple_pagination .disabled {
    color: #aaaaaa; 
}
.apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #0044CC;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; 
}
.apple_pagination a {
    text-decoration: none;
    color: black;
}
.apple_pagination a:hover, .apple_pagination a:focus {
    text-decoration: underline; 
}

.control-label  { 
	font-family: 'Arbutus Slab', serif;
 	font-weight: 400; 
}



.carousel .item > img {
  display: block;
  line-height: 1;
}

.carousel .active,
.carousel .next,
.carousel .prev {
  display: block;
}

.carousel .active {
  left: 0;
}

.carousel .next,
.carousel .prev {
  position: absolute;
  top: 0;
  width: 100%;
}

.carousel .next {
  left: 100%;
}

.carousel .prev {
  left: -100%;
}

.carousel .next.left,
.carousel .prev.right {
  left: 0;
}

.carousel .active.left {
  left: -100%;
}

.carousel .active.right {
  left: 100%;
}

.carousel-control {
  position: absolute;
  top: 40%;
  left: 15px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #222222;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
     -moz-border-radius: 23px;
          border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.carousel-control.right {
  right: -45px;
  left: auto;
}

.carousel-control.left {
  left: -45px;
  right: auto;
}

.carousel-control:hover {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px 15px 5px;
  background: #333333;
  background: rgba(0, 0, 0, 0.75);
}

.carousel-caption h4,
.carousel-caption p {
  color: #ffffff;
}
