<div id="extra">
	
	<div class="inner">
		
		<div class="container">
			
			<div class="row-fluid">
				
				<div class="span3">
					
					<a href="/"><%= image_tag "/images/footer_logo.png" %></a>
					
					
				</div> <!-- /span4 -->
				
				
				<div class="span5">
					<ul class="footer-links clearfix">
                        <li><a href="Termo_de_uso_PLANTAONET.pdf">Termos de Uso</a></li>
                        <!--li><a href="#">Quem Somos</a></li-->
                    </ul>
                
				
				
                    <ul class="footer-links clearfix">  	
                    	<li><a href="/ComoFunciona">Como Funciona?</a></li>
                        <li><a href="#">Perguntas Frequentes</a></li>
                    </ul>
                
                                   
				</div> <!-- /span4 -->
				
				

				<div class="span3">
					
					<ul class="social-icons-container">
						
						<li>
							<a href="#" class="social-icon social-icon-twitter">
								Twitter
							</a>
						</li>
							
						<li>
							<a href="#" class="social-icon social-icon-googleplus">
								Google +
							</a>
						</li>
						
						<li>							
							<a href="#" class="social-icon social-icon-facebook">
								Facebook
							</a>
						</li>
						
					</ul> <!-- /extra-social -->
					
					
					
					
				</div> <!-- /span4 -->
				
			</div> <!-- /row -->
			
		</div> <!-- /container -->
		
	</div> <!-- /inner -->
	
</div> <!-- /extra -->
			
			
			
			
<div id="footer">
					
	<div class="inner">
	
		<div class="container">
		
			<div class="row">
				<div id="footer-copyright" class="span4">
					&copy; 2012 PlantãoNet.
				</div> <!-- /span4 -->
				
				<div id="footer-terms" class="span8">
					
				</div> <!-- /span8 -->
			</div> <!-- /row -->
			
		</div> <!-- /container -->
		
	</div> <!-- /inner -->
	
</div> <!-- /footer -->